@import "tailwindcss";

@theme {
  --font-title: "Raleway", sans-serif;
  --font-text: "Merriweather Sans", sans-serif;
}

@layer base {
  h1 {
    @apply font-title text-4xl md:text-5xl font-bold mb-2 text-blue-600 drop-shadow-md;
  }
  h2 {
    @apply font-title text-2xl text-center lg:text-3xl font-bold text-gray-700 mb-4 lg:mb-8;
  }
  h3 {
    @apply font-title text-xl lg:text-2xl font-bold mb-4;
  }
  h4 {
    @apply font-title text-base lg:text-xl font-bold mb-2;
  }
  p {
    @apply font-text text-sm lg:text-base text-gray-600 mb-2;
  }
}

@layer components {
  .form-label {
    @apply font-title font-medium text-gray-500 mb-2 block;
  }

  .form-input {
    @apply font-text w-full rounded-lg px-5 py-5 shadow-sm font-medium bg-linear-to-r from-blue-50 to-purple-50 focus:outline-purple-600;
  }
  .form-textarea {
    @apply font-text w-full rounded-lg px-4 py-6 shadow-sm font-medium bg-linear-to-r from-blue-50 to-purple-50 focus:outline-purple-600;
  }
}
